    @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body { 
    background-image:url(assistats/paper\ .jpg);
    font-family: "Pacifico", serif;
    size: 
    
    
    

}
   *{
    padding: auto 60px; 
    margin: 20px; color: #080404;
    font: 40px;
    
    }
    

   